<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thông tin cá nhân</title>
	<meta charset="UTF-8">
	<meta name="description" content="loans HTML Template">
	<meta name="keywords" content="loans, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	


	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
	.profile-form h2{
		height: 20px;
	}
	</style>
</head>
<body>
	<!-- Page Preloder -->

	<!-- Header Section -->
	<header class="header-section" >
		<nav class="header-nav" th:object="${tkmk}">
			<ul class="main-menu">
				<li><a th:href="@{'/trangchu' + *{id} }">Trang chủ</a></li>
				<li><a th:href="@{'/ttkh' + *{id}}" >Thông tin cá nhân</a></li>
				<li><a href="#">Quản lý sổ tiết kiệm</a>
					<ul class="sub-menu">
						<li><a th:href="@{'/moso' + *{id} }">Mở sổ tiết kiệm</a></li>
						<li><a th:href="@{'/rutso' + *{id} }">Đóng sổ tiết kiệm</a></li>
						<li><a th:href="@{'/tinhlai' + *{id} }">Tính lãi</a></li>
						<li><a th:href="@{'/liststk' + *{id} }">Sổ tiết kiệm của bạn</a></li>
					</ul>
				</li>
				<li><a href="#">Liên hệ</a>
					<ul class="sub-menu">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Hotline: 0123456789</a></li>
					</ul>
				</li>
				<li><a href="#" id="notificationLink">Thông báo <span id="notification_count" th:text = "${soluongthongbao}"></span> </a> 
					<ul class="sub-menu" style="width: 340px; padding-bottom: 0px;">
						<th:block th:each = "item : ${listthongbao}">
							<li><a th:href="@{'/thongbao' + ${item.id}}" th:text = "${item.gio} + ' ' + ${item.ngay} + ' Biến động số dư: ' + ${item.noidung}"> </a></li>
						</th:block>
						<li id = "notificationFooter">
							<a th:href="@{'/lsgd' + ${tkmk.id}}" >Xem tất cả</a>
						</li>
					</ul>
				</li>
				<li><a th:href="@{/}">Đăng xuất</a></li>
			</ul>
		</nav>
	</header>
	<!-- Header Section end -->

	<!-- ảnh đầu trang -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg/1.jpg">
		<div class="container">
			<h2>Thông tin khách hàng</h2>
		</div>
	</section>
	<!-- Page top Section end -->


	<!-- Giới thiệu -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-5" >
					<img src="img/logo_profile.png" alt="ảnh đâu??">
					<div class="row" >
						<div class="col-lg-6" style="text-align: center;" th:object = "${tkmk}" >
							<a href="#"  class="site-btn"  style="margin-bottom: 20px;" >Thay đổi </a>
						</div>
						<div class="col-lg-6" style="text-align: center;" th:object = "${tkmk}">
							<a th:href="@{'/liststk' + *{id} }" class="site-btn">Sổ tiết kiệm</a>
						</div>
					</div>
				</div>
				<div class="col-lg-7 profile-form" th:object="${tknh}">
					<!-- <h2>Chủ tài khoản: <span th:text= *{hoten}></span></h2>
					<h2>Số tài khoản: <span th:text= *{sotaikhoan}></span></h2>
					<h2>Số dư: <span th:text= *{sodu}></span> VNĐ</h2>
					<h2>Địa chỉ: <span th:text= *{diachi}></span></h2>
					<h2>Ngày sinh: <span th:text= *{ngaysinh1}></span></h2>
					<h2>Số điện thoại: <span th:text= *{sdt}></span></h2>
					<h2>Email:<span th:text= *{email}></span></h2>
					<h2>CMND/CCCD:<span th:text= *{cmnd}></span></h2> -->
					
					<table>
							<tr>
								<td style="width: 30%;">
									<h2>Chủ tài khoản:</h2>
								</td>
								<td style="width: 70%;">
									<h2 th:text= *{hoten}></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2 >Số tài khoản:</h2>
								</td>
								<td >
									<h2 th:text= *{sotaikhoan} style="color: red"></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2>Số dư :</h2>
								</td>
								<td >
									<h2 class = "money" th:text= " *{sodu}" style="color: red"><span></span></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2>Địa chỉ:</h2>
								</td>
								<td >
									<h2 th:text= " *{diachi}"></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2>Ngày sinh:</h2>
								</td>
								<td >
									<h2 th:text= " *{ngaysinh}"></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2>SĐT:</h2>
								</td>
								<td >
									<h2 th:text= " *{sdt}"></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2>Email:</h2>
								</td>
								<td >
									<h2 th:text= " *{email}"></h2>
								</td>
							</tr>
							<tr>
								<td >
									<h2>CMND/CCCD:</h2>
								</td>
								<td >
									<h2 th:text= " *{cmnd}"></h2>
								</td>
							</tr>
						</table>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<a th:href="@{'/trangchu' + ${tkmk.id} }" class="footer-logo" >
				<strong style="color: red;">PTIT</strong><strong style="color: white;">Bank</strong>
			</a>
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget">
						<h2>Bạn sẽ làm gì</h2>
						<ul>
							<li><a href="#">Mở sổ tiết kiệm</a></li>
							<li><a href="#">Thông tin ngân hàng</a></li>
							<li><a href="#">Lãi suất</a></li>
							<li><a href="#">Phương thức đáo hạn</a></li>
							<li><a href="#">Hướng dẫn</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget">
						<h2>Điều khoản điều lệ</h2>
						<ul>
							<li><a href="#">Chính sách bảo mật</a></li>
							<li><a href="#">Nguyên tắc gửi tiết kiệm</a></li>
							<li><a href="#">Điều khoản trang web</a></li>
							<li><a href="#">Hợp đồng</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="footer-widget">
						<h2>Thông tin trang web</h2>
						<ul>
							<li><a href="#">Hỗ trợ khách hàng</a></li>
							<li><a href="#">Câu hỏi thường gặp</a></li>
							<li><a href="#">Sơ đồ trang web</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Hotline</a></li>
						</ul>
					</div>
				</div>
			</div>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
	</footer>
	<!-- Footer Section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  	<script src="js/simple.money.format.js"></script>
  	<script type="text/javascript">
    	$('.money').simpleMoneyFormat();
  	</script>
	</body>
</html>
